<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appgemacht.postinews"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- <uses-permission android:name="android.permission.INTERNET"/> -->
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<!-- <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"/> only for system apps... -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />    
    
    <!-- network state check ("are we connected ?") -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- posti slogan storage on external memory (sd card) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.appgemacht.postinews.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.appgemacht.common.SystemBroadcastReceiver">
           <intent-filter>
              <action android:name="android.net.wifi.STATE_CHANGE" />
           </intent-filter>
        </receiver>
        
    </application>

</manifest>
