<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appgemacht.hellothe2nd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
        android:theme="@style/Theme.AppCompat.Light"
            android:name="appgemacht.hellothe2nd.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <!-- the line above was added acc. to http://stackoverflow.com/questions/8238258/android-edittext-hidden 
                 because the edit text field on main activity was not visible -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="appgemacht.hellothe2nd.DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
        </activity>
    </application>

</manifest>
